<form style="margin-right: 50px;margin-left: 50px;margin-top: 50px;" [formGroup]=" miformulario">
    <h4> HUMEDAD EN DIFERENTES CIUDADES</h4><br>
    <select (change)="humedad($event)" class="select-css">
        <option value="">Seleccione una ciudad...</option>
        <option value="4164138">MIAMI</option>
        <option value="4167147">ORLANDO </option>
        <option value="5128638">NEW YORK</option>
    </select>

    <div class="form-group">
        <img class="imagen"
            style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;"
            src="{{img}}">
    </div>
    <div class="form-group col-md-5" *ngIf="name">
        <label for=""><strong>Ciudad: </strong> {{name}}</label><br>
        <label for=""><strong>Humedad: </strong> {{humedadvar}} %</label><br>
        <label for=""><strong>Temperatura: </strong>{{temp}} º</label><br>
        <label for=""><strong>Temperatura maxima: </strong>{{temp_max}} º</label><br>
        <label for=""><strong>Temperatura maxima: </strong>{{temp_min}} º</label><br>
        <label for=""><strong>Velocidad viento: </strong>{{viento}} Kms/h</label>
    </div>
    <br>
    <button *ngIf="name" type="button" class="btn btn-primary" style="width: 300px;" (click)="historiall()">Ver
        historial de
        {{name}}
    </button>
</form>



<div class="form-group" style="margin-right: 50px;margin-left: 50px;margin-top: 50px;">
    <table class="table">

        <!-- <table *ngIf="nota!=null" class="table"> -->
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Día</th>
                <th scope="col">Humedad</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Velocidad viento</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Listar of climate">
                <td>{{Listar.dia}} de mayo</td>
                <td>{{Listar.humedad}} %</td>
                <td>{{Listar.temp}} º</td>
                <td>{{Listar.viento}} Kms/h</td>

            </tr>
        </tbody>
    </table>
</div>